beautifulsoup4==4.8.2
censys==0.0.8
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
docker==4.2.0
filetype==1.0.5
fire==0.2.1
idna==2.8
lxml==4.5.0
netaddr==0.7.19
parse==1.14.0
pypiwin32==223
pyquery==1.4.1
python-dateutil==2.8.1
python-magic==0.4.15
pywebcopy==6.1.1
pywin32==227
requests==2.22.0
rope==0.16.0
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
termcolor==1.1.0
urllib3==1.25.8
w3lib==1.21.0
websocket-client==0.57.0
