beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
fire==0.2.1
idna==2.8
lxml==4.5.0
parse==1.14.0
pyquery==1.4.1
python-magic==0.4.15
pywebcopy==6.1.1
requests==2.22.0
rope==0.16.0
six==1.14.0
soupsieve==1.9.5
termcolor==1.1.0
urllib3==1.25.8
w3lib==1.21.0
